<script setup>
import { ref, onMounted } from 'vue'

import DataService from '@/services/VideoService'
import FullViewSpinner from '@/components/FullViewSpinner.vue'

const toasts = ref([])
const loading = ref(false)
const dataList = ref([])

onMounted(() => {
  loading.value = true
  DataService.getAll()
    .then((response) => {
      dataList.value = response.data.data
    })
    .finally(() => {
      loading.value = false
    })
})

const confirmModalVisible = ref(false)
const confirmActiveItems = ref(null)

const confirmDelete = (items) => {
  confirmActiveItems.value = items
  confirmModalVisible.value = true
}

const deleteConfirmedItem = () => {
  confirmModalVisible.value = false
  loading.value = true

  DataService.delete(confirmActiveItems.value.id)
    .then(() => {
      dataList.value = dataList.value.filter((items) => {
        return items.id != confirmActiveItems.value.id
      })

      toasts.value.push({
        title: 'Videogaleri silindi',
        content: `"${confirmActiveItems.value.baslik}" başlıklı videogaleri silindi`,
      })
    })
    .catch((error) => {
      toasts.value.push({
        title: 'Videogaleri silinemedi',
        content: `"${confirmActiveItems.value.baslik}" başlıklı videogaleri silinemedi. ${error}`,
      })
    })
    .finally(() => {
      loading.value = false
      confirmActiveItems.value = null
    })
}
</script>

<template>
  <Teleport to="body">
    <CModal
      :visible="confirmModalVisible"
      @close="
        () => {
          confirmModalVisible = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>Videogaleri Silmeyi Onaylayın</CModalTitle>
      </CModalHeader>
      <CModalBody
        >"{{ confirmActiveItems.baslik }}" başlıklı videogaleri silinecek,
        onaylıyor musunuz?</CModalBody
      >
      <CModalFooter>
        <CButton
          color="danger"
          style="color: #fff"
          @click="deleteConfirmedItem"
        >
          Evet, onaylıyorum
        </CButton>
      </CModalFooter>
    </CModal>
    <CToaster placement="top-end">
      <CToast v-for="(toast, index) in toasts" :key="index">
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </Teleport>
  <CRow>
    <CCol :xs="12">
      <CCard class="mb-4">
        <CCardHeader>
          <strong>Videolar</strong>
        </CCardHeader>
        <CCardBody>
          <CTable>
            <CTableHead>
              <CTableRow>
                <CTableHeaderCell scope="col">#</CTableHeaderCell>
                <CTableHeaderCell scope="col">Başlık</CTableHeaderCell>
                <CTableHeaderCell scope="col"></CTableHeaderCell>
              </CTableRow>
            </CTableHead>
            <CTableBody>
              <CTableRow v-for="data in dataList" :key="data.id">
                <CTableHeaderCell scope="row">
                  {{ data.id }}
                </CTableHeaderCell>
                <CTableDataCell>
                  {{ data.baslik }}
                </CTableDataCell>
                <CTableHeaderCell scope="col">
                  <CButton size="sm" color="success" variant="outline">
                    Detay
                  </CButton>
                  <CButton
                    size="sm"
                    color="danger"
                    variant="outline"
                    class="ms-1"
                    @click.prevent="confirmDelete(data)"
                    >Sil</CButton
                  >
                </CTableHeaderCell>
              </CTableRow>
            </CTableBody>
          </CTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <FullViewSpinner v-show="loading" />
</template>
