<script setup>
import { ref } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'

import UserService from '@/services/UserService'

import { useVuelidate } from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'

const store = useStore()
const router = useRouter()

const loading = ref(false)

const toasts = ref([])

const data = ref({
  email: null,
  password: null,
})

const rules = {
  email: { required, email },
  password: { required },
}

const vuelidate = useVuelidate(rules, data)

if (store.getters._isAuthenticated) {
  router.push({ name: 'AnaSayfa' })
}

const handleSubmit = () => {
  vuelidate.value.$validate()
  if (!vuelidate.value.$invalid) {
    loading.value = true

    UserService.login(data.value)
      .then((response) => {
        store.commit('setUser', {
          ...data.value,
          access_token: response.data,
        })

        router.push({ name: 'AnaSayfa' })
      })
      .catch(() => {
        toasts.value.push({
          title: 'Giriş yapılamadı',
          content: 'E-posta adresi veya şifre hatalı',
        })
      })
      .finally(() => {
        loading.value = false
      })
  }
}
</script>

<template>
  <CToaster placement="top-end">
    <CToast v-for="(toast, index) in toasts" :key="index">
      <CToastHeader closeButton>
        <span class="me-auto fw-bold">{{ toast.title }}</span>
      </CToastHeader>
      <CToastBody>
        {{ toast.content }}
      </CToastBody>
    </CToast>
  </CToaster>

  <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol :md="8">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm novalidate @submit.prevent="handleSubmit">
                  <h1>Giriş Yap</h1>
                  <p class="text-medium-emphasis">Hesabınıza giriş yapın</p>
                  <CInputGroup class="mb-3">
                    <CInputGroupText>
                      <CIcon icon="cil-user" />
                    </CInputGroupText>
                    <CFormInput
                      type="email"
                      placeholder="E-posta adresiniz"
                      v-model="data.email"
                      :invalid="vuelidate.email.$errors.length > 0"
                    />
                  </CInputGroup>
                  <CInputGroup class="mb-4">
                    <CInputGroupText>
                      <CIcon icon="cil-lock-locked" />
                    </CInputGroupText>
                    <CFormInput
                      type="password"
                      placeholder="Şifreniz"
                      autocomplete="current-password"
                      v-model="data.password"
                      :invalid="vuelidate.password.$errors.length > 0"
                    />
                  </CInputGroup>
                  <CRow>
                    <CCol :xs="6">
                      <CButton color="primary" class="px-2" :disabled="loading">
                        <CSpinner
                          v-show="loading"
                          component="span"
                          size="sm"
                          aria-hidden="true"
                        />
                        Giriş Yap
                      </CButton>
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
export default {
  name: 'Login',
}
</script>
