<script setup>
import { ref, onMounted } from 'vue'

import MagazineService from '@/services/MagazineService'
import FullViewSpinner from '@/components/FullViewSpinner.vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const toasts = ref([])
const loading = ref(false)
const magazineList = ref([])

onMounted(() => {
  loading.value = true
  MagazineService.getAll()
    .then((response) => {
      console.table(response.data.data)
      magazineList.value = response.data.data
    })
    .finally(() => {
      loading.value = false
    })
})

const formatDate = (date) => {
  return new Date(date).toLocaleDateString('tr-TR')
}
const confirmModalVisible = ref(false)
const confirmActiveItems = ref(null)

const confirmDelete = (items) => {
  confirmActiveItems.value = items
  confirmModalVisible.value = true
}

const deleteConfirmedItem = () => {
  confirmModalVisible.value = false
  loading.value = true

  MagazineService.delete(confirmActiveItems.value.id)
    .then(() => {
      magazineList.value = magazineList.value.filter((items) => {
        return items.id != confirmActiveItems.value.id
      })

      toasts.value.push({
        title: 'eBülten silindi',
        content: `"${confirmActiveItems.value.ad}" adındaki eBulten silindi`,
      })
    })
    .catch((error) => {
      toasts.value.push({
        title: 'eBülten silinemedi',
        content: `"${confirmActiveItems.value.ad}" adındaki eBulten silinemedi. ${error}`,
      })
    })
    .finally(() => {
      loading.value = false
      confirmActiveItems.value = null
    })
}
const navigateDetail = (id) => {
  router.push({ name: 'MagazineShow', params: { id } })
}
</script>

<template>
  <Teleport to="body">
    <CModal
      :visible="confirmModalVisible"
      @close="
        () => {
          confirmModalVisible = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>eBülten Silmeyi Onaylayın</CModalTitle>
      </CModalHeader>
      <CModalBody
        >"{{ confirmActiveItems.ad }}" adındaki eBulten silinecek, onaylıyor
        musunuz?</CModalBody
      >
      <CModalFooter>
        <CButton
          color="danger"
          style="color: #fff"
          @click="deleteConfirmedItem"
        >
          Evet, onaylıyorum
        </CButton>
      </CModalFooter>
    </CModal>
    <CToaster placement="top-end">
      <CToast v-for="(toast, index) in toasts" :key="index">
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </Teleport>
  <CRow>
    <CCol :xs="12">
      <CCard class="mb-4">
        <CCardHeader>
          <strong>E-Bültenler</strong>
        </CCardHeader>
        <CCardBody>
          <CTable>
            <CTableHead>
              <CTableRow>
                <CTableHeaderCell scope="col">#</CTableHeaderCell>
                <CTableHeaderCell scope="col">Tarih</CTableHeaderCell>
                <CTableHeaderCell scope="col">Başlık</CTableHeaderCell>
                <CTableHeaderCell scope="col"></CTableHeaderCell>
              </CTableRow>
            </CTableHead>
            <CTableBody>
              <CTableRow v-for="magazine in magazineList" :key="magazine.id">
                <CTableHeaderCell scope="row">
                  {{ magazine.id }}
                </CTableHeaderCell>
                <CTableHeaderCell scope="row">
                  {{ formatDate(magazine.tarih) }}
                </CTableHeaderCell>
                <CTableDataCell>
                  {{ magazine.ad }}
                </CTableDataCell>
                <CTableHeaderCell scope="col">
                  <CButton
                    size="sm"
                    color="success"
                    variant="outline"
                    @click="navigateDetail(magazine.id)"
                  >
                    Detay
                  </CButton>
                  <CButton
                    size="sm"
                    color="danger"
                    variant="outline"
                    class="ms-1"
                    @click.prevent="confirmDelete(magazine)"
                    >Sil</CButton
                  >
                </CTableHeaderCell>
              </CTableRow>
            </CTableBody>
          </CTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <FullViewSpinner v-show="loading" />
</template>
