<template>
  <CDropdown variant="nav-item">
    <CDropdownToggle placement="bottom-end" class="py-0" :caret="false">
      <CAvatar :src="avatar" size="md" />
    </CDropdownToggle>
    <CDropdownMenu class="pt-0">
      <CDropdownHeader component="h6" class="bg-light fw-semibold py-2">
        Bartın TSO
      </CDropdownHeader>
      <CDropdownItem @click="logout">
        <CIcon icon="cil-lock-locked" /> Çıkış Yap
      </CDropdownItem>
    </CDropdownMenu>
  </CDropdown>
</template>

<script setup>
import { useStore } from 'vuex'
import avatar from '@/assets/images/logvek2.png'
import { useRouter } from 'vue-router'

const store = useStore()
const router = useRouter()

const logout = () => {
  store.commit('logoutUser')
  router.push({ name: 'Login' })
}
</script>
