<script setup>
import { ref } from 'vue'

import { useVuelidate } from '@vuelidate/core'
import { required } from '@vuelidate/validators'

import MenuService from '@/services/MenuService'

import FullViewSpinner from '@/components/FullViewSpinner.vue'
import { useRoute } from 'vue-router'

const route = useRoute()

const loading = ref(true)
const toasts = ref([])

const formRef = ref()
const firstRef = ref()

const data = ref({
  title: null,
  link: null,
})
const rules = {
  title: { required },
  link: { required },
}

const vuelidate = useVuelidate(rules, data)

//loadData
MenuService.getById(route.params.id)
  .then((response) => {
    loading.value = false
    data.value = {
      title: response.data.data.ad,
      link: response.data.data.baglanti,
    }
  })
  .catch(() => {})

const createSuccessToast = (title) => {
  toasts.value.push({
    title: 'İşlem Başarılı',
    content: `Menu'${title}' güncellendi`,
  })
}

const createFailToast = (title, error) => {
  toasts.value.push({
    title: 'İşlem Başarısız',
    content: `Menu '${title}' güncellenmedi. ${error}`,
  })
}

const handleSubmit = () => {
  vuelidate.value.$validate()

  if (!vuelidate.value.$invalid) {
    loading.value = true

    MenuService.update(route.params.id, data.value)
      .then(() => {
        loading.value = false
        createSuccessToast(data.value.title)
      })
      .catch((error) => {
        console.log('fail :>>', error)
        createFailToast(data.value.title, error)
      })
      .finally(() => {
        loading.value = false
      })
  }
}
</script>

<template>
  <CToaster placement="top-end">
    <CToast v-for="(toast, index) in toasts" :key="index">
      <CToastHeader closeButton>
        <span class="me-auto fw-bold">{{ toast.title }}</span>
      </CToastHeader>
      <CToastBody>
        {{ toast.content }}
      </CToastBody>
    </CToast>
  </CToaster>
  <CRow>
    <CCol :xs="12">
      <CCard class="mb-4">
        <CCardHeader>
          <strong>Hızlı Menu Güncelle</strong>
        </CCardHeader>
        <CCardBody>
          <CForm
            ref="formRef"
            class="row g-3"
            novalidate
            @submit.prevent="handleSubmit"
          >
            <div class="mb-3">
              <CFormLabel>Menu Adı</CFormLabel>
              <CFormInput
                type="text"
                ref="firstRef"
                placeholder="Menu başlığını giriniz"
                v-model="data.title"
                :invalid="vuelidate.title.$errors.length > 0"
              />
            </div>
            <div class="mb-3">
              <CFormLabel>Bağlantı Linki</CFormLabel>
              <CFormInput
                type="text"
                placeholder="Menu linki giriniz"
                v-model="data.link"
                :invalid="vuelidate.link.$errors.length > 0"
              />
            </div>
            <CButton color="primary">Menu Güncelle</CButton>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <FullViewSpinner v-show="loading" />
</template>
