<script setup>
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import MenuService from '@/services/MenuService'
import FullViewSpinner from '@/components/FullViewSpinner.vue'

const router = useRouter()

const toasts = ref([])
const loading = ref(false)
const menusList = ref([])

onMounted(() => {
  loading.value = true
  MenuService.getAll()
    .then((response) => {
      menusList.value = response.data.data
    })
    .finally(() => {
      loading.value = false
    })
})
const confirmModalVisible = ref(false)
const confirmActiveItems = ref(null)

const confirmDelete = (items) => {
  confirmActiveItems.value = items
  confirmModalVisible.value = true
}
const deleteConfirmedItem = () => {
  confirmModalVisible.value = false
  loading.value = true

  MenuService.delete(confirmActiveItems.value.id)
    .then(() => {
      menusList.value = menusList.value.filter((items) => {
        return items.id != confirmActiveItems.value.id
      })

      toasts.value.push({
        title: 'Menü silindi',
        content: `"${confirmActiveItems.value.ad}" adındaki menü silindi`,
      })
    })
    .catch((error) => {
      toasts.value.push({
        title: 'Menü silinemedi',
        content: `"${confirmActiveItems.value.baslik}" adındaki menü silinemedi. ${error}`,
      })
    })
    .finally(() => {
      loading.value = false
      confirmActiveItems.value = null
    })
}
const navigateDetail = (id) => {
  router.push({ name: 'MenuShow', params: { id } })
}
</script>

<template>
  <Teleport to="body">
    <CModal
      :visible="confirmModalVisible"
      @close="
        () => {
          confirmModalVisible = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>Menüyü Silmeyi Onaylayın</CModalTitle>
      </CModalHeader>
      <CModalBody
        >"{{ confirmActiveItems.ad }}" adındaki menü silinecek, onaylıyor
        musunuz?</CModalBody
      >
      <CModalFooter>
        <CButton
          color="danger"
          style="color: #fff"
          @click="deleteConfirmedItem"
        >
          Evet, onaylıyorum
        </CButton>
      </CModalFooter>
    </CModal>
    <CToaster placement="top-end">
      <CToast v-for="(toast, index) in toasts" :key="index">
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </Teleport>
  <CRow>
    <CCol :xs="12">
      <CCard class="mb-4">
        <CCardHeader>
          <strong>Tüm Hızlı Menuler</strong>
        </CCardHeader>
        <CCardBody>
          <CTable>
            <CTableHead>
              <CTableRow>
                <CTableHeaderCell scope="col">#</CTableHeaderCell>
                <CTableHeaderCell scope="col">Ad</CTableHeaderCell>
                <CTableHeaderCell scope="col"></CTableHeaderCell>
              </CTableRow>
            </CTableHead>
            <CTableBody>
              <CTableRow v-for="menus in menusList" :key="menus.id">
                <CTableHeaderCell scope="row">{{ menus.id }}</CTableHeaderCell>
                <CTableDataCell>{{ menus.ad }}</CTableDataCell>
                <CTableHeaderCell scope="col">
                  <CButton
                    size="sm"
                    color="success"
                    variant="outline"
                    @click="navigateDetail(menus.id)"
                  >
                    Detay
                  </CButton>
                  <CButton
                    size="sm"
                    color="danger"
                    variant="outline"
                    class="ms-1"
                    @click.prevent="confirmDelete(menus)"
                    >Sil</CButton
                  >
                </CTableHeaderCell>
              </CTableRow>
            </CTableBody>
          </CTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <FullViewSpinner v-show="loading" />
</template>
