<script setup>
import { ref, onMounted } from 'vue'

import NewsService from '@/services/NewsService'
import FullViewSpinner from '@/components/FullViewSpinner.vue'

const toasts = ref([])

const loading = ref(false)
const newsList = ref([])

onMounted(() => {
  loading.value = true
  NewsService.getAll()
    .then((response) => {
      newsList.value = response.data.data
    })
    .finally(() => {
      loading.value = false
    })
})

const formatDate = (date) => {
  return new Date(date).toLocaleDateString('tr-TR')
}

const openImage = (imageLink) => {
  window.open(`${process.env.VUE_APP_API_HOST}/${imageLink}`, '_blank')
}

const confirmModalVisible = ref(false)
const confirmActiveNews = ref(null)

const confirmDelete = (news) => {
  confirmActiveNews.value = news
  confirmModalVisible.value = true
}

const deleteConfirmedNews = () => {
  confirmModalVisible.value = false
  loading.value = true

  NewsService.delete(confirmActiveNews.value.id)
    .then(() => {
      newsList.value = newsList.value.filter((news) => {
        return news.id != confirmActiveNews.value.id
      })

      toasts.value.push({
        title: 'Haber silindi',
        content: `"${confirmActiveNews.value.baslik}" başlıklı haber silindi`,
      })
    })
    .catch((error) => {
      toasts.value.push({
        title: 'Haber silinemedi',
        content: `"${confirmActiveNews.value.baslik}" başlıklı haber silinemedi. ${error}`,
      })
    })
    .finally(() => {
      loading.value = false
      confirmActiveNews.value = null
    })
}
</script>

<template>
  <Teleport to="body">
    <CModal
      :visible="confirmModalVisible"
      @close="
        () => {
          confirmModalVisible = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>Haber Silmeyi Onaylayın</CModalTitle>
      </CModalHeader>
      <CModalBody
        >"{{ confirmActiveNews.baslik }}" başlıklı haber silinecek, onaylıyor
        musunuz?</CModalBody
      >
      <CModalFooter>
        <CButton color="danger" style="color: #fff" @click="deleteConfirmedNews"
          >Evet, onaylıyorum</CButton
        >
      </CModalFooter>
    </CModal>
    <CToaster placement="top-end">
      <CToast v-for="(toast, index) in toasts" :key="index">
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </Teleport>
  <CRow>
    <CCol :xs="12">
      <CCard class="mb-4">
        <CCardHeader>
          <strong>Tüm Haberler</strong>
        </CCardHeader>
        <CCardBody>
          <CTable>
            <CTableHead>
              <CTableRow>
                <CTableHeaderCell scope="col">#</CTableHeaderCell>
                <CTableHeaderCell scope="col">Tarih</CTableHeaderCell>
                <CTableHeaderCell scope="col">Başlık</CTableHeaderCell>
                <CTableHeaderCell scope="col"></CTableHeaderCell>
              </CTableRow>
            </CTableHead>
            <CTableBody>
              <CTableRow v-for="news in newsList" :key="news.id">
                <CTableHeaderCell scope="row">
                  {{ news.id }}
                </CTableHeaderCell>
                <CTableHeaderCell scope="row">
                  {{ formatDate(news.tarih) }}
                </CTableHeaderCell>
                <CTableDataCell>
                  {{ news.baslik }}
                </CTableDataCell>
                <CTableHeaderCell scope="col">
                  <div style="display: flex; flex-direction: row">
                    <CButton size="sm" color="success" variant="outline">
                      Detay
                    </CButton>
                    <CButton
                      size="sm"
                      color="success"
                      variant="outline"
                      class="ms-1"
                      @click.prevent="openImage(news.resim_Dizin)"
                    >
                      Resim
                    </CButton>
                    <CButton
                      size="sm"
                      color="danger"
                      variant="outline"
                      class="ms-1"
                      @click.prevent="confirmDelete(news)"
                    >
                      Sil
                    </CButton>
                  </div>
                </CTableHeaderCell>
              </CTableRow>
            </CTableBody>
          </CTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <FullViewSpinner v-show="loading" />
</template>
