<script setup>
import { ref, onMounted } from 'vue'

import ServiceService from '@/services/ServiceService'
import FullViewSpinner from '@/components/FullViewSpinner.vue'

const toasts = ref([])
const loading = ref(false)
const serviceList = ref([])

onMounted(() => {
  loading.value = true
  ServiceService.getAll()
    .then((response) => {
      serviceList.value = response.data.data
    })
    .finally(() => {
      loading.value = false
    })
})

const confirmModalVisible = ref(false)
const confirmActiveItems = ref(null)

const confirmDelete = (items) => {
  confirmActiveItems.value = items
  confirmModalVisible.value = true
}

const deleteConfirmedItem = () => {
  confirmModalVisible.value = false
  loading.value = true

  ServiceService.delete(confirmActiveItems.value.id)
    .then(() => {
      serviceList.value = serviceList.value.filter((items) => {
        return items.id != confirmActiveItems.value.id
      })

      toasts.value.push({
        title: 'Hizmet silindi',
        content: `"${confirmActiveItems.value.ad}" adındaki hizmet silindi`,
      })
    })
    .catch((error) => {
      toasts.value.push({
        title: 'Hizmet silinemedi',
        content: `"${confirmActiveItems.value.ad}" adındaki hizmet silinemedi. ${error}`,
      })
    })
    .finally(() => {
      loading.value = false
      confirmActiveItems.value = null
    })
}
</script>

<template>
  <Teleport to="body">
    <CModal
      :visible="confirmModalVisible"
      @close="
        () => {
          confirmModalVisible = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>Hizmet Silmeyi Onaylayın</CModalTitle>
      </CModalHeader>
      <CModalBody
        >"{{ confirmActiveItems.ad }}" adındaki hizmet silinecek, onaylıyor
        musunuz?</CModalBody
      >
      <CModalFooter>
        <CButton
          color="danger"
          style="color: #fff"
          @click="deleteConfirmedItem"
        >
          Evet, onaylıyorum
        </CButton>
      </CModalFooter>
    </CModal>
    <CToaster placement="top-end">
      <CToast v-for="(toast, index) in toasts" :key="index">
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </Teleport>
  <CRow>
    <CCol :xs="12">
      <CCard class="mb-4">
        <CCardHeader>
          <strong>Hizmetler Listesi</strong>
        </CCardHeader>
        <CCardBody>
          <CTable>
            <CTableHead>
              <CTableRow>
                <CTableHeaderCell scope="col">#</CTableHeaderCell>
                <CTableHeaderCell scope="col">Ad</CTableHeaderCell>
                <CTableHeaderCell scope="col">Aktiflik</CTableHeaderCell>
                <CTableHeaderCell scope="col">Yeni Sekme</CTableHeaderCell>
                <CTableHeaderCell scope="col"></CTableHeaderCell>
              </CTableRow>
            </CTableHead>
            <CTableBody>
              <CTableRow v-for="service in serviceList" :key="service.id">
                <CTableHeaderCell scope="row">{{
                  service.id
                }}</CTableHeaderCell>
                <CTableDataCell>{{ service.ad }}</CTableDataCell>
                <CTableDataCell>
                  <template v-if="service.aktiflik">true</template>
                  <template v-else>false</template>
                </CTableDataCell>
                <CTableDataCell>
                  <template v-if="service.yeniSekme">true</template>
                  <template v-else>false</template>
                </CTableDataCell>
                <CTableHeaderCell scope="col">
                  <CButton size="sm" color="success" variant="outline">
                    Detay
                  </CButton>
                  <CButton
                    size="sm"
                    color="danger"
                    variant="outline"
                    class="ms-1"
                    @click.prevent="confirmDelete(service)"
                    >Sil</CButton
                  >
                </CTableHeaderCell>
              </CTableRow>
            </CTableBody>
          </CTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <FullViewSpinner v-show="loading" />
</template>
